<section id="page-convert" class="page">
  <h1>Konvertierung</h1>
  <p>Formate ineinander umwandeln: STA &harr; C53, PAIN v03 &harr; v09, usw.</p>
  <div id="convert-upload-area" class="upload-area">
    <p>Quelldatei hier ablegen oder klicken</p>
    <input type="file" id="convert-file-input" accept=".xml,.sta,.mt940,.zip,.c53,.txt">
  </div>
  <div id="convert-options" style="display:none">
    <label>Zielformat:
      <select id="convert-target-select"></select>
    </label>
    <button id="convert-run-btn">Konvertieren &amp; Herunterladen</button>
  </div>
  <div id="convert-result"></div>
</section>
