<section id="page-validate" class="page">
  <h1>Zahlungsdatei-Validierung</h1>
  <p>PAIN-XML (001/002/008) und DTAZV-Dateien (CCT, CDD, CDB, CCU, CTV, AZV, AXZ) pruefen.</p>
  <div id="validate-upload-area" class="upload-area">
    <p>Datei hier ablegen oder klicken zum Auswaehlen</p>
    <p class="upload-hint">Akzeptiert: .xml, .sta, .txt (DTAZV)</p>
    <input type="file" id="validate-file-input" accept=".xml,.txt,.sta,.pain">
  </div>
  <div id="validate-result"></div>
</section>
